<div class="user-posts">
  <h2>投稿一覧</h2>
  <% if @user.posts.any? %>
    <ul>
      <% @user.posts.each do |post| %>
        <li>
          <%= link_to post.title, post_path(post) %>
          <p><%= truncate(post.content, length: 100) %></p>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>まだ投稿がありません。</p>
  <% end %>
</div>