<div class="row">
    <div class="col-md-12">
        <h1 class="text-center">ようこそTakkiへ</h1>
        
        <div>
            <p class="text-center">
                Takkiはチケットの作成・受け渡しができるサイトです。</br>
                「チケット」と言うと法人や公的な機関が発行するような印象がありますよね</br>
                でも、このサイトではあなたがチケットを発行できるのです。</br>
                学校や職場で開催するあなたのライブチケットを発行して渡すこともできますし、</br>
                ご両親への「肩たたき券」や、恋人への「洗い物やってあげる券」といった</br>
                日々のちょっとした感謝をチケットにこめて渡すこともできます。</br>
                あなたの日常が、ちょっと温かくなりますように。
            </p>
        </div>
        
        <div>
            <%= image_tag 'ticket.jpeg', size: "800x400", class: "d-block mx-auto my-4" %>
        </div>
    </div>
    
</div>